<footer class="footer footer-color-black" data-color="black">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="{{'/' | relative_url}}">Home</a>
                </li>
                <li>
                    <a href="{{'/blog/' | relative_url}}">Blog</a>
                </li>
            </ul>
        </nav>
        <div class="social-area pull-right">
            <a class="btn btn-social btn-instagram btn-simple" href="https://www.instagram.com/{{site.instagram_username}}" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a class="btn btn-social btn-pinterest btn-simple" href="https://www.pinterest.com/{{site.pinterest_username}}" target="_blank">
                <i class="fa fa-pinterest-square"></i>
            </a>
            <a class="btn btn-social btn-twitter btn-simple" href="https://twitter.com/{{site.twitter_username}}" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>  
        </div>
        <div class="copyright">
            &copy; <script>document.write(new Date().getFullYear())</script>  Made in <a href="https://prosperdigitalconsulting.com" target="_blank" class="text-white">Texas</a>
        </div>
    </div>
</footer>