<!--   core js files    -->
<script src="{{'/assets/js/jquery.min.js' | relative_url}}" type="text/javascript"></script>
<script src="{{'/assets/js/bootstrap.js' | relative_url}}" type="text/javascript"></script>

<!--  js library for devices recognition -->
<script type="text/javascript" src="{{'/assets/js/modernizr.js' | relative_url}}"></script>

<!-- Scroll reveal -->
<script type="text/javascript" src="{{'/assets/js/reveal.js' | relative_url}}"></script>

<!--   file where we handle all the script from the Gaia - Bootstrap Template   -->
<script type="text/javascript" src="{{'/assets/js/gaia.js' | relative_url}}"></script>

